# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
.venv/

# Data outputs
data/*.parquet
!data/sample_*.parquet
data/*.csv
data/artifacts/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# uv
uv.lock

# MLflow
mlruns/
mlflow.db
mlartifacts/

# Pytest
.pytest_cache/

# Notebook checkpoints
.ipynb_checkpoints/
